
<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="primary">REGISTER</mat-toolbar>
    <mat-card class="login-card">

      <form [formGroup]="registerForm" #formDirective="ngForm"
            (ngSubmit)="onSubmit(registerForm, formDirective)">


        <mat-form-field>
          <input autofocus type="text" matInput placeholder="Username " formControlName="username" value="">
        </mat-form-field>


        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input type="password" autocomplete="false" matInput placeholder="Password *" formControlName="password">
          <mat-hint>Choose a password </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input type="password" autocomplete="false" matInput placeholder="Password *" formControlName="password2" >
          <mat-hint>Repeat your password </mat-hint>
        </mat-form-field>

        <hr>
        <div class="socialMediaFlex">
          <button style="width:50%" [disabled]="registerForm.invalid"    type="submit" mat-raised-button color="primary">Submit</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
